# OS
.DS_Store

# Python
__pycache__/
*.py[cod]
*.pyd
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
.coverage.*
*.egg-info/
.eggs/

# Virtual environments
.venv/
env/
venv/
ENV/

# Environment files
.env
.env.*
.envrc
!.env.example
!.env.*.example
!.env.*.*.example
!.envrc.example

# Jupyter
.ipynb_checkpoints/
notebooks/outputs/

