[submodule "examples/pipecat"]
	path = examples/pipecat
	url = https://github.com/pipecat-ai/pipecat-quickstart.git
[submodule "examples/pipecat-quickstart"]
	path = examples/pipecat-quickstart
	url = https://github.com/pipecat-ai/pipecat-quickstart.git
[submodule "examples/agent-starter-react"]
	path = examples/agent-starter-react
	url = https://github.com/abhay97ps/agent-starter-react.git
[submodule "examples/agent-starter-python"]
	path = examples/agent-starter-python
	url = https://github.com/livekit-examples/agent-starter-python.git
